.python-version
__pycache__
PFE/*
.vscode
images/*
!images/guide
!.gitkeep
db.sqlite3
example*.json

# logs
logs/*
!.gitkeep

# uploads
uploads/*

# notebooks
notebooks/*

# migrations
chunkedUpload/migrations

# sql db
db.sqlite3

# helpers
setup-complete