pdf2image
pytest
flake8
Pillow
Django
django-cors-headers
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
django-extensions
jupyterlab
elasticsearch==8.14.0
pymupdf==1.25.5
celery[redis]
flower==2.0.1